{% extends "shareaccbook/layout.html" %}

{% block title %}Details{% endblock %}

{% block body %}
<div class="container border rounded-3 my-3" id="accbookInfo">
  <h2 class="mt-2">{{ accBook.accbook_name }}</h2>
  <p>Owner: {{ accBook.owner }}</p>
  <p>Regist Date: {{ accBook.updated_on }}</p>

</div>

<div class="container border rounded-3 mb-3" id="newItem">
  <h4 class="mt-2">Add new expense</h2>
  {% csrf_token %}
  <div class="mb-3">
    {{ form.regist_date }}
  </div>
  <div class="mb-3">
    {{ form.expense_type }}
  </div>
  <div class="mb-3">
    {{ form.item_type }}
  </div>
  <div class="input-group mb-3">
    {{ form.item_price }}
    <span class="input-group-text">VND</span>
  </div>
  <div class="mb-3">
    {{ form.item_description }}
  </div>
</div> 

<div class="container border rounded-3 mb-3" id="itemsList">
  <h4 class="mt-2">Items List</h2>

  {% if items|length_is:"0" %}
    <p>No item yet.</p>
  {% else %}
    {% for item in items %}
    <div class="container">
      <p>{{ item.item_type }}</p>
      <p>{{ item.item_price }}</p>
    </div>
    {% endfor %}
  {% endif %}
</div>

<div class="container mb-3">
  <p class="text-danger">{{ message }}</p>
</div>
{% endblock %}